In [1]:
import json
import js2py
import os, sys
import divide_ob
import copy
import simulation
import time

In [2]:
def jsjiami_recover():
    names = os.listdir('./jsdata/rand_jsjiami')
    totTime = [[], [], [], [], []]
    counter = 0
    for name in names:
        if not name.endswith('.js'):
            continue
        try:
            tempTime = simulation.simulate(name)
            totTime[0].append(name)
            for i in range(4):
                totTime[i].append(tempTime[i])
                counter = counter + 1
        except:
            print(f'Fail {name}')
    print('Res :')
    print(totTime)
    print(counter)
    return totTime

In [ ]:
jsjiami_rec = jsjiami_recover()

In [6]:
import pandas as pd

In [23]:
jsjiami_df = pd.DataFrame({'name': name, 't0': t0, 't1': jsjiami_rec[1],\
                           't2': jsjiami_rec[2], 't3': jsjiami_rec[3]})

In [26]:
jsjiami_df.to_csv('./time_new/jsjiami_normal.csv', index=False, encoding='utf-8')

In [21]:
name = [jsjiami_rec[0][i] for i in range(len(jsjiami_rec[0])) if i % 2 == 0]
t0 = [jsjiami_rec[0][i] for i in range(len(jsjiami_rec[0])) if i % 2 == 1]

In [27]:
from tqdm import tqdm

In [36]:
def ob_recover():
    names = os.listdir('./jsdata/rand_ob')
    totTime = [[], [], [], [], [], [], []]
    counter = 0
    for name in tqdm(names):
        if not name.endswith('.js'):
            continue
        try:
            tempTime = simulation.simulate2(name)
            totTime[0].append(name)
            # tempTime = simulation.simulate(name)
            for i in range(6):
                totTime[i + 1].append(tempTime[i])
                counter = counter + 1
        except:
            print(name)
    print('Res :')
#     print(totTime)
    print(counter)
    return totTime

In [ ]:
job_rec = ob_recover()

In [ ]:
jon_rec

In [ ]:
job_rec

In [39]:
job_df = pd.DataFrame({'name': job_rec[0], 't1': job_rec[1], 't2': job_rec[2], 't3': job_rec[3], \
                      't4': job_rec[4], 't5': job_rec[5], 't6': job_rec[6]})

In [42]:
job_df.describe()

               t1          t2          t3          t4          t5          t6
count  652.000000  652.000000  652.000000  652.000000  652.000000  652.000000
mean     0.092727    0.100163    0.178559    0.088139    0.088821    0.158102
std      0.023051    0.067430    0.053316    0.025976    0.029222    0.041164
min      0.069880    0.069458    0.134294    0.068590    0.066456    0.128807
25%      0.083602    0.082167    0.159832    0.079155    0.078874    0.143030
50%      0.087349    0.086059    0.165828    0.082279    0.082079    0.147930
75%      0.093543    0.094109    0.176018    0.087625    0.088630    0.157701
max      0.311877    0.951657    0.677062    0.458625    0.481780    0.524777

In [43]:
job_df.to_csv('time_new/job_normal.csv', index = False, encoding='utf-8')

In [61]:
df = pd.read_csv('jsdata/res_kernel_ob_cmp_combine.csv')

In [51]:
df

,FileName,jsjiami_unweighted,jsjiami_jsdec,jsjiami_illu,jsjiami_sd,jsjiami_recover_unweighted
0,100063.js,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
1,100094.js,0.168232,0.175863,0.179124,0.093250,0.645497
2,100111.js,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
3,100217.js,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
4,100374.js,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
...,...,...,...,...,...,...
997,99912.js,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
998,99925.js,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
999,99957.js,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
1000,99986.js,0.227397,0.238008,0.236028,0.120886,0.617213
1001,99988.js,0.388393,-1.000000,0.401935,0.100288,0.604265

In [63]:
len(df[(df.jsjiami_recover_unweighted == df.jsjiami_unweighted) & (df.jsjiami_unweighted > -0.5)])

17

In [62]:
len(df[(df.jsjiami_recover_unweighted == df.jsjiami_unweighted) ])

352

In [64]:
job_df

,name,t1,t2,t3,t4,t5,t6
0,79119.js-ob.js,0.095942,0.082978,0.166080,0.078081,0.079047,0.161802
1,5565.js-ob.js,0.084874,0.082335,0.160078,0.079837,0.079760,0.147221
2,39575.js-ob.js,0.096810,0.084090,0.165880,0.080390,0.082372,0.140623
3,15292.js-ob.js,0.086917,0.077158,0.141350,0.076515,0.069244,0.132750
4,56064.js-ob.js,0.093281,0.085971,0.167782,0.082373,0.085484,0.144796
...,...,...,...,...,...,...,...
647,67981.js-ob.js,0.084370,0.081296,0.155562,0.085528,0.136740,0.145559
648,61618.js-ob.js,0.078966,0.075030,0.155276,0.085995,0.084923,0.146360
649,20473.js-ob.js,0.079269,0.080009,0.163280,0.084805,0.081750,0.147788
650,1281.js-ob.js,0.147729,0.252718,0.294765,0.139337,0.156037,0.420435
651,80055.js-ob.js,0.124275,0.164882,0.275069,0.113478,0.112061,0.198438

In [72]:
def getSize_ob(name):
    raw_path = 'jsdata/rand_ob/'
    filePath = os.path.join(raw_path, name)
    return os.path.getsize(filePath)

In [71]:
def getSize_jiami(name):
    raw_path = 'jsdata/rand_jsjiami/'
    filePath = os.path.join(raw_path, name)
    return os.path.getsize(filePath)

In [68]:
job_df['size'] = job_df['name'].apply(getSize)

In [73]:
jsjiami_df['size'] = jsjiami_df['name'].apply(getSize_jiami)

In [74]:
jsjiami_df

                  name        t0        t1        t2        t3  size
0    43851.js-jiami.js  0.139910  0.346603  0.366177  0.077726  4356
1    68706.js-jiami.js  0.100675  0.157988  0.398964  0.073708  4630
2    67981.js-jiami.js  0.085693  0.149008  0.072428  0.062713  3167
3    28688.js-jiami.js  0.094209  0.153684  0.423348  0.072553  4448
4    86060.js-jiami.js  0.106706  0.245101  1.058256  0.080267  7558
..                 ...       ...       ...       ...       ...   ...
501  84203.js-jiami.js  0.080047  0.168113  0.052114  0.061734  3057
502  61443.js-jiami.js  0.082144  0.177853  0.074688  0.069798  3367
503  83287.js-jiami.js  0.093207  0.326009  1.882793  0.102007  8430
504    138.js-jiami.js  0.089325  0.143960  0.981829  0.074326  6504
505  87349.js-jiami.js  0.084232  0.184634  0.122712  0.064396  3499

[506 rows x 6 columns]

In [77]:
jsjiami_df['tot'] = jsjiami_df['t0']+jsjiami_df['t1']+jsjiami_df['t2']+jsjiami_df['t3']

In [79]:
jsjiami_df['line'] = jsjiami_df['size'] / jsjiami_df['tot']

In [85]:
jsjiami_df.columns

Index(['name', 't0', 't1', 't2', 't3', 'size', 'tot', 'line'], dtype='object')

In [87]:
[(jsjiami_df['size']/jsjiami_df[col]).mean() for col in ['t0', 't1', 't2', 't3', 'size', 'tot', 'line'] ]

[56436.60622182639,
 26232.112533599735,
 25472.583847745405,
 66161.83757425228,
 1.0,
 6497.9509922126945,
 1.110833094996426]

In [80]:
jsjiami_df.describe()

,t0,t1,t2,t3,size,tot,line
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,0.093929,0.199366,0.727764,0.089774,5676.084980,1.110833,6497.950992
std,0.014677,0.139772,2.018634,0.219961,8442.874781,2.325418,1771.126037
min,0.080047,0.118095,0.023201,0.061372,3016.000000,0.305462,2316.575038
25%,0.086621,0.153205,0.125596,0.066411,3426.750000,0.462199,5228.811604
50%,0.090530,0.174792,0.321182,0.070271,4125.500000,0.655143,6362.283214
75%,0.097238,0.207155,0.540821,0.076799,5183.250000,0.916631,7697.312136
max,0.321167,2.678579,27.817812,4.435068,138814.000000,31.720503,14050.786103

In [89]:
l = [0.092727	,0.100163	,0.178559,	0.088139,	0.088821,	0.158102]

In [90]:
[item * 100 / sum(l) for item in l]

[13.12463641755047,
 14.17713241548964,
 25.273350308770844,
 12.475248085309358,
 12.571778783345199,
 22.377853989534486]

In [99]:
job_df.describe()

,t1,t2,t3,t4,t5,t6,size,tot
count,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000
mean,0.092727,0.100163,0.178559,0.088139,0.088821,0.158102,6849.657975,0.706511
std,0.023051,0.067430,0.053316,0.025976,0.029222,0.041164,19173.015126,0.229138
min,0.069880,0.069458,0.134294,0.068590,0.066456,0.128807,1.000000,0.539629
25%,0.083602,0.082167,0.159832,0.079155,0.078874,0.143030,1638.250000,0.633499
50%,0.087349,0.086059,0.165828,0.082279,0.082079,0.147930,2408.000000,0.654425
75%,0.093543,0.094109,0.176018,0.087625,0.088630,0.157701,4506.000000,0.694431
max,0.311877,0.951657,0.677062,0.458625,0.481780,0.524777,214974.000000,2.960682

In [93]:
job_df['tot'] = sum([job_df[col] for col in ['t1', 't2', 't3', 't4', 't5', 't6']])

In [94]:
job_df.columns

Index(['name', 't1', 't2', 't3', 't4', 't5', 't6', 'size', 'tot'], dtype='object')

In [96]:
[(job_df['size']/job_df[col]).mean() for col in ['t1', 't2', 't3', 't4', 't5', 't6', 'tot'] ]

[54714.08770494477,
 45277.13389792064,
 27827.37248373542,
 57174.40218947928,
 55899.38022191744,
 32627.174421184118,
 6925.226393657334]

In [97]:
27827.37248373542 + 57174.40218947928

85001.7746732147

# pwd

In [101]:
16/9

1.7777777777777777